Repository cartesi/rollups-node, pull requests merged in 2024-08, with the labels that each got.

#561 [1.x] fix case mismatch in Dockerfile
  build/Dockerfile
Labels: no changelog

#551 feat: add the MultidappClaimer as an experimental feature for sunodo
  CHANGELOG.md
  internal/node/services.go
  offchain/Cargo.lock
  offchain/advance-runner/src/broker.rs
  offchain/advance-runner/src/runner.rs
  offchain/authority-claimer/README.md
  offchain/authority-claimer/src/claimer.rs
  offchain/authority-claimer/src/config/cli.rs
  offchain/authority-claimer/src/config/mod.rs
  offchain/authority-claimer/src/lib.rs
  offchain/authority-claimer/src/listener.rs
  offchain/rollups-events/Cargo.toml
  offchain/rollups-events/src/broker/mod.rs
  offchain/rollups-events/src/common.rs
  offchain/rollups-events/src/lib.rs
  offchain/rollups-events/src/rollups_claims.rs
  offchain/rollups-events/src/rollups_outputs.rs
  offchain/rollups-events/src/rollups_stream.rs
  offchain/rollups-events/tests/integration.rs
  offchain/test-fixtures/src/broker.rs
Labels: #feat:claimer

#498 feat(advancer): add tooling for creating snapshots programmatically
  build/Dockerfile
  test/snapshot/snapshot.go
Labels: #feat:tests, #feat:ci, #feat:machine-advancer

#574 feat(advancer): add advancer service
  internal/node/advancer/advancer.go
  internal/node/advancer/advancer_test.go
  internal/node/advancer/poller/poller.go
Labels: #feat:machine-advancer

#577 Fix: compose devnet check cli
  build/compose-devnet.yaml
Labels: no changelog, #feat:devnet

#581 refactor(repository): move migrations to folder and refactor repository
  cmd/cartesi-rollups-cli/root/db/check/check.go
  cmd/cartesi-rollups-cli/root/db/upgrade/upgrade.go
  internal/node/startup/startup.go
  internal/repository/base_test.go
  internal/repository/schema/migrations/000001_create_application_input_claim_output_report_nodeconfig.down.sql
  internal/repository/schema/migrations/000001_create_application_input_claim_output_report_nodeconfig.up.sql
  internal/repository/schema/migrations/000002_create_postgraphile_view.down.sql
  internal/repository/schema/migrations/000002_create_postgraphile_view.up.sql
  internal/repository/schema/schema.go
  internal/repository/schemamanager.go
Labels: #feat:db

#582 fix(repository): get the previous epoch by index
  internal/repository/validator.go
  internal/repository/validator_test.go
Labels: #feat:validator
